@import'../../styles.scss';
.logout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 6em;
    .center{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
   
}
.logout:hover{
    background-color: $secondary-color;
}